.item {
    width: 100%;
    max-width: 375px;
    height: 60rem;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 1rem;
}

.titulo-c {
    font-size: 35px;
    font-weight: 600;
}


.label{
    width: 100%;
    height: 4rem;
    border: 0.5px solid black;
    padding: 5px;
    border-radius: 1rem;
}

.cont-desing,
.cont-personal,
.cont-house {
    width: 340px;
    padding: 1rem;
    gap: 1rem; /* Reducimos el gap para mejor alineación */
    display: flex;
    flex-direction: column;
}

.cont-desing h1,
.cont-personal h1,
.cont-house h1 {
    color: #D1A28B;
}

/* Estilos comunes para los labels */
.cont-desing label,
.cont-personal label,
.cont-house label {
    display: flex;
    flex-direction: row; /* Cambiamos a fila para alinear en horizontal */
    align-items: center; /* Centramos verticalmente */
    gap: 10px; /* Espacio entre el checkbox y el texto */
}

/* Estilos para los checkboxes */
.cont-desing label input,
.cont-personal label input,
.cont-house label input {
    width: 1.5rem;
    height: 1.5rem;
}

/* Estilos para el texto de la tarea */
.cont-desing label .h1-1,
.cont-personal label .h1-1,
.cont-house label .h1-1 {
    font-weight: 500;
    font-size: 17px;
    color: black;
    margin: 0; /* Eliminamos márgenes para mejor alineación */
}

.add {
    width: 340px;
    height: 5rem;
    padding: 1rem;
    gap: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add .h1-add {
    font-size: 18px;
    font-weight: 500;
}

.add button {
    width: 6rem;
    height: 4rem;
    color: white;
    background-color: black;
    border-radius: 5px;
}